<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>PetStore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-title class="title">Bienvenido</ion-title>
    <p class="subTitle">Ingresa para acceder a tu cuenta</p>
  </div>

  <form (ngSubmit)="login()">
    <div class="ion-padding">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>
      
      <div class="forgot-password-container">
        <a class="forgot-password" href="">Olvidaste la contraseña?</a>
        <ion-button type="submit" fill="clear" slot="end">Ingresar</ion-button>
      </div>

      <div class="signupLink">
        <p>Nuevo miembro? <a style="color: coral;" [routerLink]="['/registro']">Registrarse ahora</a></p>
      </div>
      
      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>
    </div>
  </form>
</ion-content>