.error-message {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  margin-top: 5px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0;
}

.subTitle {
  color: #666;
  font-size: 0.9rem;
  margin-top: 5px;
}

.forgot-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.signupLink {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}